### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [159]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [160]:
#Display the total number of players

total_players = len(purchase_data["SN"].unique())

display_tot_players=pd.DataFrame({"Number of Players": [total_players]})

display_tot_players

   Number of Players
0                576

## Purchasing Analysis (Total)

In [161]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [162]:
#Run basic calculations to obtain number of unique items, average price, etc.

unique_items=len(purchase_data["Item ID"].unique())

unique_items

183

In [163]:
average_price=purchase_data["Price"].mean()
average_price

3.050987179487176

In [164]:
purchases=purchase_data["Item ID"].count()

purchases

780

In [165]:
revenue=purchase_data["Price"].sum()

revenue

2379.77

In [166]:
#Create a summary data frame to hold the results and Display the summary data frame

summary_table = pd.DataFrame({"# of Unique Items": [unique_items],
                              "Average Price": [average_price],
                              "# of Purchases": [purchases],
                              "Total Revenue": revenue})

summary_table

   # of Unique Items  Average Price  # of Purchases  Total Revenue
0                183       3.050987             780        2379.77

In [167]:
#Optional: give the displayed data cleaner formatting

summary_table["Average Price"] = summary_table["Average Price"].map("${:,.2f}".format)

summary_table["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)

summary_table

   # of Unique Items Average Price  # of Purchases Total Revenue
0                183         $3.05             780     $2,379.77

## Gender Demographics

#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

In [168]:
# Group by gender & counts
gender_df = purchase_data[["SN", "Gender"]]

unique_sn = gender_df.drop_duplicates()

counts = unique_sn["Gender"].value_counts()


# List of values
male=counts[0]
female=counts[1]
other=counts[2]

male_percentage=(counts[0]/total_players)*100
female_percentage=(counts[1]/total_players)*100
other_percentage=(counts[2]/total_players)*100

# Creating DataFrame & set index

gender_demo = pd.DataFrame({"Total Count": [male,female,other],"Percentage of Players": [male_percentage,female_percentage,other_percentage]})

gender_demo.index = (["Male", "Female", "Other / Non-Disclosed"])

gender_demo

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

In [169]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

groupby_gender = purchase_data.groupby("Gender")

totalbygender=[female,male,other]

purch_count = groupby_gender["Item ID"].count()

avg_purch = groupby_gender["Price"].mean()

tot_purch_value = groupby_gender["Price"].sum()

avg_purch_person =(groupby_gender["Price"].sum()/totalbygender)

In [170]:
#Create a summary data frame to hold the results

gender_purchases = pd.DataFrame({"Purchase Count": purch_count,"Average Purchase Price": avg_purch,"Total Purchase Value":tot_purch_value,"Average Purchase Total Per Person":avg_purch_person})

#Display the summary data frame
gender_purchases

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [171]:
#Optional: give the displayed data cleaner formatting

gender_purchases["Average Purchase Price"] = gender_purchases["Average Purchase Price"].map("${:,.2f}".format)

gender_purchases["Total Purchase Value"] = gender_purchases["Total Purchase Value"].map("${:,.2f}".format)

gender_purchases["Average Purchase Total Per Person"] = gender_purchases["Average Purchase Total Per Person"].map("${:,.2f}".format)

gender_purchases

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [172]:
#Find age range

print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [173]:
# Create bins in which to place values based upon TED Talk views
bins = [0, 9, 14, 19, 24, 29,34, 39, 45]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

In [174]:
# Slice the data and place it into bins
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [175]:
purchase_data["Age Demographics"]= pd.cut(purchase_data["Age"], bins, labels=group_labels)

In [176]:
demographic_group =purchase_data.groupby("Age Demographics")

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [177]:
# do a groupby on Age Demographics 
groupby_age = purchase_data.groupby("Age Demographics")


# Count total players by age category
total_count_age = groupby_age["SN"].nunique()

# Calculate percentages by age category 
percentage_by_age = (total_count_age/total_players) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})


# Format percentage with two decimal places 
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}".format)

age_demographics

                 Percentage of Players  Total Count
Age Demographics
<10                               2.95           17
10-14                             3.82           22
15-19                            18.58          107
20-24                            44.79          258
25-29                            13.37           77
30-34                             9.03           52
35-39                             5.38           31
40+                               2.08           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [178]:
#Calculate purchase count, avg. purchase price, avg. purchase total per person

purchase_count=groupby_age["Age Demographics"].count()

avg_price=groupby_age["Price"].mean()

tot_purch_value=groupby_age["Price"].sum()

tot_purch_person=(tot_purch_value/total_count_age)

In [179]:
#Create a summary data frame to hold the results
Purchase_analysis_age = pd.DataFrame({"Purchase count":purchase_count,"Average Purchase Price":avg_price,
                 "Total Purchase Value":tot_purch_value,"Average Purchase Total Per Person":tot_purch_person})


Purchase_analysis_age

,Purchase count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Age Demographics,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [180]:
#Optional: give the displayed data cleaner formatting


Purchase_analysis_age["Average Purchase Price"] = Purchase_analysis_age["Average Purchase Price"].map("${:,.2f}".format)

Purchase_analysis_age["Total Purchase Value"] = Purchase_analysis_age["Total Purchase Value"].map("${:,.2f}".format)


Purchase_analysis_age["Average Purchase Total Per Person"] = Purchase_analysis_age["Average Purchase Total Per Person"].map("${:,.2f}".format)


Purchase_analysis_age

,Purchase count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Age Demographics,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [181]:
# do a groupby on Age Demographics 
groupby_sn = purchase_data.groupby("SN")

#Calculate Purchase Count, Average Purchase Price, Total Purchase Value by SN

purch_count_sn=groupby_sn["Age Demographics"].count()

avg_price_sn=groupby_sn["Price"].mean()

tot_purch_value_sn=groupby_sn["Price"].sum()

In [182]:
#Create a summary data frame to hold the results

Purchase_analysis_sn = pd.DataFrame({"Purchase count":purch_count_sn,"Average Purchase Price":avg_price_sn,"Total Purchase Value":tot_purch_value_sn})


#Sort the total purchase value column in descending order

Purchase_analysis_sn = Purchase_analysis_sn.sort_values("Total Purchase Value", ascending = False)


#Optional: give the displayed data cleaner formatting

Purchase_analysis_sn["Average Purchase Price"] = Purchase_analysis_sn["Average Purchase Price"].map("${:,.2f}".format)

Purchase_analysis_sn["Total Purchase Value"] = Purchase_analysis_sn["Total Purchase Value"].map("${:,.2f}".format)


Purchase_analysis_sn.head()

             Purchase count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [183]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Demographics'],
      dtype='object')

In [184]:
#Retrieve the Item ID, Item Name, and Item Price columns

items=purchase_data[["Item ID","Item Name","Price"]]

In [185]:
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

items_grouped=purchase_data.groupby(["Item ID","Item Name"])

In [187]:
#Calculate Purchase Count, Item Price, Total Purchase Value

purch_count_pop=items_grouped["Item ID"].count()

item_price=items_grouped["Price"].mean()

tot_purch_pop=purch_count_pop*item_price

In [188]:
#Create a summary data frame to hold the results

pop_items = pd.DataFrame({"Purchase Count":purch_count_pop,"Item Price":item_price,"Total Purchase Value":tot_purch_pop})


#Sort the purchase count column in descending order

pop_items = pop_items.sort_values("Purchase Count", ascending = False)


#Optional: give the displayed data cleaner formatting

pop_items["Item Price"] = pop_items["Item Price"].map("${:,.2f}".format)

pop_items["Total Purchase Value"] = pop_items["Total Purchase Value"].map("${:,.2f}".format)


pop_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

In [198]:
#Sort the above table by total purchase value in descending order

items=purchase_data[["Item ID","Item Name","Price"]]

items_grouped=purchase_data.groupby(["Item ID","Item Name"])

purch_count_pop=items_grouped["Item ID"].count()

item_price=items_grouped["Price"].mean()

tot_purch_pop=purch_count_pop*item_price

pop_items = pd.DataFrame({"Purchase Count":purch_count_pop,"Item Price":item_price,"Total Purchase Value":tot_purch_pop})


#Sort the purchase count column in descending order

pop_items = pop_items.sort_values("Total Purchase Value", ascending = False)


#Optional: give the displayed data cleaner formatting

pop_items["Item Price"] = pop_items["Item Price"].map("${:,.2f}".format)

pop_items["Total Purchase Value"] = pop_items["Total Purchase Value"].map("${:,.2f}".format)


pop_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80